@tailwind base;
@tailwind components;
@tailwind utilities;

.post ul {
  list-style-type: none;
  padding-left: 20px;
}

.post ul li:before {
  content: '\2014';
  position: absolute;
  margin-left: -20px;
}