@tailwind base;
@tailwind components;
@tailwind utilities;

ul {
  list-style-type: none;
  padding-left: 20px;
}

ul li:before {
  content: '\2014';
  position: absolute;
  margin-left: -20px;
}

.svg-icon {
  fill: #000000;
}

@media (prefers-color-scheme: dark) {
  .svg-icon {
    filter: invert(1);
  }
}